<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>React-Redux-Webpack starter</title>
	<link rel="stylesheet" href="<%= assetsPath %>/css/styles.css">
	<link rel="stylesheet" href="/dist/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/dist/css/flexboxgrid.min.css" type="text/css">
	<link rel="stylesheet" href="/dist/css/font-awesome.min.css" type="text/css">
</head>
<body>
	<script>window.__INITIALSTATE__ = <%= initialState %></script>
	<div id="root"><%= html %></div>
	<script type="text/javascript" src="<%= assetsPath %>/bundle.js"></script>
</body>
</html>
